.container {
    padding: 0;
    margin: 0;
    margin-left: 10%;
}

#bloqueBuscar {
    text-align: center;
}


#registrar {
    position: relative;
    margin-left: 99%;
}

#idModal, #idResidente, #idGroup{
    display:none;
}

table{
    margin-left: 10%;
    text-align: center;
}