.container {
    padding: 0;
    margin: 0;
}

#bloqueBuscar {
    text-align: center;
}


#registrar {
    position: relative;
    margin-left: 99%;
}

#idModal, #idResidente, #idGroup{
    display:none;
}

/* #registrar{
    margin-left:98%;
} */