.container {
    padding: 0;
    margin: 0;
}

#bloqueBuscar {
    text-align: center;
}


#registrar {
    position: relative;
    margin-left: 81%;
}

#idModal, #idResidente, #idGroup{
    display:none;
}

table{

    text-align: center;
}

#tablaResidentes{
    margin-left: -17%;
}